<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.login.com" >
    <application
        >
        <activity android:name="com.login.com.activity.LoginActivity"
           android:launchMode="singleTask"/>

        <activity android:name="com.login.com.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
